---
title: Twój sprzęt filmowy
---
section#heading
  video#bgvid preload="none" autoplay="" loop=""
    source src="assets/images/video.mp4" type="video/mp4"
    source src="assets/images/video.webm" type="video/webm"
  .logo
  #tagline
    p Twój sprzęt filmowy
    ul
      li Sprawdzony
      li.blue Tani
      li Zajebisty

section#offer
  ul.items
    li
      h1 Kamera
      div
      ul
        li nowa
        li firmowa
        li czysta
        li sprawdzona
      div.price
        p 999 PLN
    li
      h1 Światło
      div
      ul
        li jasne
        li rozpromieniające
        li nagrzane
        li lekkie
      div.price
        p 699 PLN
    li
      h1 Slider
      div
      ul
        li dopasowany
        li długi
        li prosty
      div.price
        p 399 PLN
  div
    h1 Razem

section#contact
  .bcg data-anchor-target="#contact" data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;"
    h1 Kontakt
    ul
      li
        a href="mailto:kontakt@4krental.pl"
          div
          p kontakt@4krental.pl
      li.right
        div
        div
          p Karol Flont
          p tel. 22 465 98 01
          p pon-pt 8:00-18:00
          p kom. 691 277 719
      li
        a href="#"
          div
          p 4K Rental
        / https://www.facebook.com/pages/4K-Studio/166346293454085